body{
    margin: 0px;
    padding: 10px;
    font-family: "Arial Verdana",Arial,sans-serif;
    background-color: #F5FFF5;
}

h3 {
    text-align: center;
    font-family: "Georgia";
    font-weight: bold;
    color: #6bf;
}
ul{
    list-style: none;
    padding: 10px;   
    line-height: 40px;
}

.connectedSortable{
    height: 75%; /* needs to be some absolute number of pixels */
}
div.box{
    /* margin-bottom: 10px; */
}
div#newplaceform{
    text-align: center;
}
div.bordered{
    border: 5px solid fuchsia;
}
div.tripList{
    float: left;
    height: 95vh;
    width: 23%;
}
div#info{
    height: 80%;    
}
div#trash{
    height: 18%;
    margin: 0px;
    padding: 0px;
    text-align: right;
}
li{
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    background-color: #6bf;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
}

a{
    text-decoration: none;
}
