<html>
    <head>
	<title>New User</title>
	<script src="../static/lib/jquery.js"></script>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
    </head>
    <body>
	<main>
	    <ul id="menu">
		<li class="menu"><a href="/about">About</a></li>
	    </ul>
	    <form method="post" class="box">
		<input type="text" name="user" placeholder="Username"><br>
		<input type="password" name="pass" placeholder="Password"><br>
		<input type="submit" name="submit" value="Submit" class="button">
	    </form>
	    {% include 'messages.html' %}
	</main>
	<script>
	 $('input[type="text"], input[type="password"]').on('keydown',function(e){
	     if (e.which == 13){
		 console.log('ENTER');
		 $('input[type="submit"]').click();
		 return false;
	     }
	 });
	</script>
    </body>
</html>
