<!DOCTYPE html>
<html>
  <head>
      <script src="../static/lib/jquery.js"></script>
      <script src="../static/lib/jquery-ui.js"></script>
      <script src="../static/lib/lodash.js"></script>
      <script src="../static/lib/backbone.js"></script>
      <script src="../static/lib/backbone.marionette.js"></script>
      <link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" />
  </head>

  <body>
      <input type="hidden" name="userID" id="userID" value="{{userID|safe}}" />
      <input type="hidden" name="tripID" id="tripID" value="{{tripID|safe}}" />
      <script type="text/template" id="place-collection-template">
	  <ul class="connectedSortable"></ul>
      </script>
    <script type="text/template" id="place-composite-template">
      <ul class="connectedSortable">
      </ul><br>
      New Place: <input type="text" id="newplacename">
      <button id="addplace">Add</button>
    </script>
    <script type="text/template" id="place-template">
	<%- name%>
    </script>
    
    <script type="text/template" id="info-template">
	<div id="placename"><h4><%- name%></h4></div>
    </script>

    <table border="1px"><tr><th>Trip Proper</th><th>Reserve</th><th>Places</th><th>Info</th></tr>
      <tr>
    	<td id="tripProper"></td>
    	<td id="reserve"></td>
    	<td id="places"></td>
    	<td id="info"></td>
      </tr>
    </table>

    <script src="../static/trip.js"></script>
  </body>
</html>
